* {
  --color-one: #f3f4f6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-one);
}

main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.download-btn {
  position: absolute;
  bottom: 0;
  left: 30%;
  right: 30%;
  background-color: rgb(73, 73, 250);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border: 0;
  border-radius: 8px;
  width: 150px;
  padding: 10px;
  transition: all 0.2s ease-out;
}
.download-btn:hover {
  background-color: rgb(3, 3, 247);
}
.left-part {
  position: relative;
}
