.right-part {
  flex-grow: 1;
}
.resume-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 900px;
}
.general-info-display {
  background-color: rgb(0, 0, 121);
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0px;
  gap: 30px;
}
.general-info-display div {
  display: flex;
}
.general-info-display h2 {
  font-size: 2.2rem;
}

.general-info-item {
  margin-left: 4rem;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
}

.resume-bottom {
  padding: 20px;
}

.title-section {
  border-bottom: 2px solid rgba(0, 0, 0, 0.493);
}

.detail-block {
  display: flex;
  margin: 20px;
  align-items: start;
  gap: 4rem;
}
.detail-block div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.resume-display-block {
  margin-bottom: 5rem;
}
.display-title {
  margin-bottom: 4px;
}
.right-block {
  min-width: 150px;
}
.display-list ul {
  max-width: 500px;
}
.detail-block .left-block p,
.detail-block .left-block h4 {
  max-width: 500px;
  word-wrap: break-word;
}
/* for vsplit layout*/
.resume-container.vsplit {
  display: flex;
  flex-direction: row;
}
.resume-container.vsplit .detail-block .left-block p,
.resume-container.vsplit-reverse .detail-block .left-block p,
.resume-container.vsplit .detail-block .left-block h4,
.resume-container.vsplit-reverse .detail-block .left-block h4 {
  word-break: break-all;
}
.resume-container.vsplit .general-info-display,
.resume-container.vsplit-reverse .general-info-display {
  min-width: 400px;
  justify-content: start;
  padding-top: 10rem;
}
.resume-container.vsplit .general-info-display h2,
.resume-container.vsplit-reverse .general-info-display {
  margin-bottom: 25px;
}
.resume-container.vsplit .general-info-display div,
.resume-container.vsplit-reverse .general-info-display div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
}
.resume-container.vsplit .general-info-display .general-info-item,
.resume-container.vsplit-reverse .general-info-display .general-info-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.resume-container.vsplit .resume-bottom,
.resume-container.vsplit-reverse .resume-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

/* for vsplit reverse layout*/

.resume-container.vsplit-reverse {
  display: flex;
  flex-direction: row-reverse;
}

@media (min-width: 1800px) {
  .resume-container h2 {
    font-size: 2.5rem;
  }
  .resume-container p {
    font-size: 1.2rem;
  }
  .resume-container h4 {
    font-size: 1.4rem;
  }
  .general-info-display h2 {
    font-size: 3rem;
  }
}
